
.image img{
    width: 180px;
    height: 255px;
    object-fit: cover;
   
   
  
}
.image-item{
    margin-left:20px;
}
.halim-post-title-sckil p{
    font-size: 12px;
        
}
.nd-comments{
    width:100%;
    margin-top: 40px;
    
}
.wraper{
   height: 50vh;
   background-color: #fff;
   padding: 0px 10px 0 50px;
}
.add-img{
    width: 43px;
    border-radius: 31px;
    height: 40px;
}
.btn-submit{
    left: 0px;
}
.slick-prev {
    z-index: 10;
    left: -20px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 73px;
    height: 20px;
    padding: -7px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

/* start commment? */
#comment-section {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #comment-form {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #comment-form h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #comment-form label {
    font-weight: bold;
  }
  
  #comment-form input[type="text"],
  #comment-form input[type="email"],
  #comment-form textarea {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  #comment-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #comment-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  